.App {
  text-align: center;
}
.navbar {
 background-color: rgb(237, 229, 229);
}
.nav-link{
  color: brown;
}
.nav-link:hover{
  color:goldenrod;
}
.nav-item{
  padding: 3vh;
}

#logo {
  float: left;
  position: fixed;
  margin-right: 2vh;
}
.container h1{
      color: rebeccapurple;
      font-size: 3vh;
}
.container h1:hover{
  color: black;
}
/* Carousel Styles */
.carousel-inner img {
  max-height: 70vh;
  margin: auto;
}

.carousel-caption {
  padding: 10px;
  border-radius: 20%;
}
.text-center{
  color: bisque;
}
.list-unstyled a{
  text-decoration: none;
  color: brown;
}
.list-unstyled{
  column-count: 3;
  column-gap: 2vh;
  }
.carousel-caption h3 {
  color: goldenrod;
}

.col-md-6 img{
  width: 100%;
  height: 70%
}
.carousel-image-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  overflow: hidden;
}

.carousel-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel-prev,
.carousel-next {
  font-size: 4vh;
  cursor: pointer;
  color: rebeccapurple;
}

.carousel-prev {
  margin-right: 10px;
}
.navbar-expanded {
  max-width: calc(100% - 30px);
}

/* Add some transition for smooth animation */
.navbar {
  transition: max-width 0.3s ease;
}